Repository fmillanjs/temponest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-auth, pytest-agents, pytest-scheduler, pytest-approval-ui, pytest-ingestion, pytest-temporal-workers, pytest-sdk, pytest-cli, pytest-web-ui, pytest-security, docker-compose-check

pytest-auth:
  name: pytest (Auth Service)
  entry: bash -c 'cd services/auth && pytest tests/ --cov=app --cov-fail-under=95 -q'
  language: system
  pass_filenames: false
  always_run: false

pytest-agents:
  name: pytest (Agents Service)
  entry: bash -c 'cd services/agents && pytest tests/ --cov=app --cov-fail-under=90 -q'
  language: system
  pass_filenames: false
  always_run: false

pytest-scheduler:
  name: pytest (Scheduler Service)
  entry: bash -c 'cd services/scheduler && pytest tests/ --cov --cov-fail-under=85 -q'
  language: system
  pass_filenames: false
  always_run: false

pytest-approval-ui:
  name: pytest (Approval UI Service)
  entry: bash -c 'cd services/approval_ui && pytest tests/ --cov --cov-fail-under=85 -q'
  language: system
  pass_filenames: false
  always_run: false

pytest-ingestion:
  name: pytest (Ingestion Service)
  entry: bash -c 'cd services/ingestion && pytest tests/ --cov --cov-fail-under=85 -q'
  language: system
  pass_filenames: false
  always_run: false

pytest-temporal-workers:
  name: pytest (Temporal Workers)
  entry: bash -c 'cd services/temporal_workers && pytest tests/ --cov --cov-fail-under=80 -q'
  language: system
  pass_filenames: false
  always_run: false

pytest-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'cd sdk && pytest tests/ --cov=temponest_sdk --cov-fail-under=85 -q'
  language: system
  pass_filenames: false
  always_run: false

pytest-cli:
  name: pytest (CLI Tool)
  entry: bash -c 'cd cli && pytest tests/ --cov=cli --cov-fail-under=80 -q'
  language: system
  pass_filenames: false
  always_run: false

pytest-web-ui:
  name: pytest (Web UI)
  entry: bash -c 'cd web-ui && pytest tests/ --cov=app --cov-fail-under=75 -q'
  language: system
  pass_filenames: false
  always_run: false

pytest-security:
  name: pytest (Security Tests)
  entry: bash -c 'cd tests/security && pytest . -q --tb=short'
  language: system
  pass_filenames: false
  always_run: false

docker-compose-check:
  name: docker-compose config check
  entry: docker-compose config -q
  language: system
  pass_filenames: false

feat: Add Claude Code CLI integration as LLM provider option
  HOW-TO-USE.md
  docker/docker-compose.yml
  services/agents/Dockerfile
  services/agents/app/agents/developer_v2.py
  services/agents/app/agents/factory.py
  services/agents/app/llm/claude_code_client.py
  services/agents/app/llm/unified_client.py
  services/agents/app/settings.py
  services/agents/tests/unit/test_claude_code_client.py
Due: pytest-agents

fix: Replace interactive claude setup-token with direct config file creation
  services/agents/Dockerfile
Due: none

fix: Add missing enforce_budget import to main.py
  services/agents/app/main.py
Due: pytest-agents

fix: Upgrade Qdrant to v1.12.0 and fix query_points API compatibility
  CLAUDE-CODE-SETUP.md
  START.sh
  docker/docker-compose.yml
  quick-demo.sh
  services/agents/app/memory/rag.py
  services/agents/app/settings.py
Due: pytest-agents

fix: Update Claude Code authentication to use .credentials.json format
  CLAUDE-CODE-SETUP.md
  docker/docker-compose.yml
  services/agents/Dockerfile
Due: none

feat: Add configurable citation requirements for Claude Code testing
  docker/docker-compose.yml
  services/agents/app/main.py
  services/agents/app/settings.py
Due: pytest-agents

feat: Implement production-ready RAG knowledge base system
  docs/RAG-KNOWLEDGE-BASE.md
  scripts/download-external-docs.sh
  scripts/setup-knowledge-base.sh
  scripts/update-knowledge-base.sh
  scripts/verify-rag-health.sh
  services/ingestion/ingest.py
Due: pytest-ingestion

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

docs: start milestone v0.1 First Working Build
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/STATE.md
Due: none

docs: define milestone v0.1 requirements
  .planning/REQUIREMENTS.md
Due: none

docs: create milestone v0.1 roadmap (4 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

Path conditions:
  pytest-auth: any of: ^services/auth/ and \.py$
  pytest-agents: any of: ^services/agents/ and \.py$
  pytest-scheduler: any of: ^services/scheduler/ and \.py$
  pytest-approval-ui: any of: ^services/approval_ui/ and \.py$
  pytest-ingestion: any of: ^services/ingestion/ and \.py$
  pytest-temporal-workers: any of: ^services/temporal_workers/ and \.py$
  pytest-sdk: any of: ^sdk/ and \.py$
  pytest-cli: any of: ^cli/ and \.py$
  pytest-web-ui: any of: ^web-ui/ and \.py$
  pytest-security: any of: ^tests/security/ and \.py$
  docker-compose-check: any of: ^docker-compose.*\.ya?ml$
