Repository fmillanjs/temponest: changes, and which Codecov flags are due for each by the changed paths.
All: backend_unit, backend_integration, frontend_unit, sdk, cli, security

feat: Phase 3.1 - Implement multi-stage builds for Python services
  services/agents/Dockerfile
  services/approval_ui/Dockerfile
  services/auth/Dockerfile
  services/ingestion/Dockerfile
  services/scheduler/Dockerfile
  services/temporal_workers/Dockerfile
  web-ui/Dockerfile
Due: backend_unit, frontend_unit, security

feat: Phase 3.2 - Switch Python services to Alpine base images
  services/agents/Dockerfile
  services/approval_ui/Dockerfile
  services/auth/Dockerfile
  services/ingestion/Dockerfile
  services/scheduler/Dockerfile
  services/temporal_workers/Dockerfile
  web-ui/Dockerfile
Due: backend_unit, frontend_unit, security

feat: Phase 3.3 - Create separate dev/prod Docker Compose files
  docker/DOCKER_USAGE.md
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
Due: none

docs: update OPTIMIZATION_PROGRESS with Phase 3 completion
  OPTIMIZATION_PROGRESS.md
Due: none

feat: Phase 4.1 - Add composite indexes for database optimization
  docker/migrations/006_composite_indexes.sql
  docker/migrations/006_console_indexes.sql
Due: none

feat: Phase 4.2 - Optimize slow queries with database views
  apps/console/app/api/observability/metrics/route.ts
  apps/console/components/KpiBar.tsx
  docker/migrations/007_backend_metrics_views.sql
  docker/migrations/007_metrics_views.sql
Due: frontend_unit

feat: Phase 4.3 - Implement batch operations for webhooks
  services/agents/app/webhooks/event_dispatcher.py
Due: backend_unit, security

feat: Phase 4.4 - Tune database connection pools
  services/agents/app/main.py
  services/auth/app/database.py
  services/scheduler/app/db.py
Due: backend_unit, security

docs: Update OPTIMIZATION_PROGRESS with Phase 4 completion
  OPTIMIZATION_PROGRESS.md
Due: none

feat: Phase 5.1 - Extract shared auth module to eliminate code duplication
  services/agents/Dockerfile
  services/agents/app/main.py
  services/agents/app/routers/departments.py
  services/agents/app/routers/webhooks.py
  services/scheduler/Dockerfile
  services/scheduler/app/main.py
  services/scheduler/app/routers/schedules.py
  shared/auth/__init__.py
  shared/auth/client.py
  shared/auth/middleware.py
  shared/auth/models.py
Due: backend_unit, security

feat: Phase 5.1 - Remove duplicated auth files
  services/agents/app/auth_client.py
  services/agents/app/auth_middleware.py
  services/scheduler/app/auth_client.py
  services/scheduler/app/auth_middleware.py
Due: backend_unit, security

feat: Phase 5.2 - Refactor agents service main.py for better code organization
  services/agents/app/main.py
  services/agents/app/models.py
  services/agents/app/routers/health.py
  services/agents/app/utils.py
Due: backend_unit, security

feat: Phase 5.3 - Add shared error handling and logging infrastructure
  shared/error_handlers.py
  shared/exceptions.py
  shared/logging_config.py
Due: none

docs: Update OPTIMIZATION_PROGRESS with Phase 5 completion
  OPTIMIZATION_PROGRESS.md
Due: none

feat: Phase 6 - Complete CI/CD & Automation infrastructure
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-build.yml
  .github/workflows/test.yml
  OPTIMIZATION_PROGRESS.md
  docker/docker-compose.telemetry.yml
  docker/grafana-datasources.yaml
  docker/tempo-config.yaml
  docs/TELEMETRY_INTEGRATION.md
  scripts/deploy/health-check.sh
  scripts/deploy/rollback.sh
  scripts/deploy/rolling-deploy.sh
  scripts/deploy/smoke-tests.sh
  scripts/deploy/verify-deployment.sh
  services/agents/pytest.ini
  services/agents/requirements-test.txt
  services/approval_ui/requirements-test.txt
  services/auth/requirements-dev.txt
  services/ingestion/requirements-test.txt
  services/scheduler/requirements-test.txt
  services/temporal_workers/requirements-test.txt
  shared/requirements-telemetry.txt
  shared/telemetry/__init__.py
  shared/telemetry/metrics.py
  shared/telemetry/middleware.py
  shared/telemetry/tracing.py
Due: backend_unit, security

feat: Phase 7.1 - Next.js Build & Image Optimization
  apps/console/app/financials/page.tsx
  apps/console/components/UserMenu.tsx
  apps/console/components/financials/FinancialsCharts.tsx
  apps/console/next.config.js
  apps/console/package-lock.json
  apps/console/package.json
Due: frontend_unit

feat: Phase 7.2 - Dependency Optimization & Tree-Shaking
  apps/console/next.config.js
  apps/console/package-lock.json
  apps/console/package.json
Due: frontend_unit

feat: Phase 7.3 - Frontend Performance & Accessibility
  apps/console/app/observability/page.tsx
  apps/console/components/UserMenu.tsx
  apps/console/components/financials/FinancialsCharts.tsx
  apps/console/components/ui/command.tsx
Due: frontend_unit

docs: Update OPTIMIZATION_PROGRESS with Phase 7 completion
  OPTIMIZATION_PROGRESS.md
Due: none

feat: Phase 8.1 - Complete Documentation (README, PERFORMANCE, OPERATIONS)
  README.md
  docs/OPERATIONS.md
  docs/PERFORMANCE.md
Due: none

feat: Phase 8.1 - Add comprehensive CHANGELOG
  CHANGELOG.md
Due: none

feat: Phase 8.3 - Complete Security Audit & Documentation
  SECURITY.md
Due: none

feat: Phase 8 Progress Update - 80% Complete
  OPTIMIZATION_PROGRESS.md
Due: none

feat: Phase 8.2 - Complete Performance Validation Suite
  PERFORMANCE_VALIDATION.md
  tests/performance/aggregate_results.py
  tests/performance/database/README.md
  tests/performance/database/benchmark.py
  tests/performance/database/requirements.txt
  tests/performance/docker/README.md
  tests/performance/docker/measure_startup.sh
  tests/performance/k6/README.md
  tests/performance/k6/agents-api.js
  tests/performance/k6/auth-api.js
  tests/performance/k6/run-all.sh
  tests/performance/reports/locust-output.txt
Due: none

docs: Update Phase 8.2 completion status in OPTIMIZATION_PROGRESS
  OPTIMIZATION_PROGRESS.md
Due: none

fix: Fix 500 error in /api/costs/summary endpoint and 404 favicon error
  web-ui/app.py
Due: frontend_unit

docs: Add comprehensive testing gaps analysis report
  TESTING_GAPS_REPORT.md
Due: none

feat: Implement comprehensive testing strategy with real integration and E2E tests
  web-ui/pytest.ini
  web-ui/tests/e2e/__init__.py
  web-ui/tests/e2e/test_web_ui_endpoints.py
  web-ui/tests/integration/__init__.py
  web-ui/tests/integration/test_costs_real_db.py
  web-ui/tests/test_api_endpoints.py
Due: frontend_unit

fix: Correct scheduler service URL in status endpoint
  web-ui/app.py
Due: frontend_unit

fix: Fix Docker build context for agents and scheduler services
  docker/docker-compose.yml
  services/agents/Dockerfile
  services/scheduler/Dockerfile
Due: backend_unit, security

fix: Switch agents service from Alpine to Debian to resolve onnxruntime dependency
  services/agents/Dockerfile
  services/agents/requirements.txt
Due: backend_unit, security

feat: Phase 8.4 Complete - Production Rollout Planning & Documentation
  CRITICAL_FLOWS_TESTING.md
  OPTIMIZATION_PROGRESS.md
  POST_DEPLOYMENT_MONITORING.md
  PRODUCTION_ROLLOUT_PLAN.md
  STAGING_DEPLOYMENT_CHECKLIST.md
Due: none

feat: Add MIT License file
  LICENSE
Due: none

fix: Renumber database migrations to resolve conflicts
  docker/migrations/007_console_indexes.sql
  docker/migrations/008_backend_metrics_views.sql
  docker/migrations/009_metrics_views.sql
Due: none

feat: Implement Alembic database migration framework
  alembic.ini
  alembic/README.md
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/.gitkeep
  requirements-migrations.txt
Due: none

docs: Add comprehensive CONTRIBUTING.md guide
  CONTRIBUTING.md
Due: none

fix: Resolve TODO comments with proper implementations and documentation
  services/agents/app/collaboration/manager.py
  services/agents/app/departments/manager.py
  services/agents/app/routers/collaboration.py
Due: backend_unit, security

docs: Add comprehensive database backup and API documentation guides
  docs/API_DOCUMENTATION.md
  docs/DATABASE_BACKUP_STRATEGY.md
Due: none

feat: Add production-ready Kubernetes manifests with Traefik load balancer
  infra/k8s/.gitignore
  infra/k8s/00-namespace.yaml
  infra/k8s/01-configmaps.yaml
  infra/k8s/02-storage.yaml
  infra/k8s/03-databases.yaml
  infra/k8s/04-services.yaml
  infra/k8s/05-deployments.yaml
  infra/k8s/06-ingress.yaml
  infra/k8s/07-autoscaling.yaml
  infra/k8s/README.md
  infra/k8s/kustomization.yaml
  infra/k8s/secrets.example.yaml
  infra/k8s/traefik-values.yaml
Due: none

removed github workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-build.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  backend_unit: any of: services/, but not: **/__pycache__, **/node_modules, **/tests/**, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/conftest.py, **/migrations/**, **/scripts/**, **/__main__.py, **/setup.py, **/.next/**, **/dist/**, **/build/**, **/coverage/**, **/htmlcov/**, **/*.config.js, **/*.config.ts
  backend_integration: any of: tests/integration/, but not: **/__pycache__, **/node_modules, **/tests/**, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/conftest.py, **/migrations/**, **/scripts/**, **/__main__.py, **/setup.py, **/.next/**, **/dist/**, **/build/**, **/coverage/**, **/htmlcov/**, **/*.config.js, **/*.config.ts
  frontend_unit: any of: apps/console/, web-ui/, but not: **/__pycache__, **/node_modules, **/tests/**, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/conftest.py, **/migrations/**, **/scripts/**, **/__main__.py, **/setup.py, **/.next/**, **/dist/**, **/build/**, **/coverage/**, **/htmlcov/**, **/*.config.js, **/*.config.ts
  sdk: any of: sdk/, but not: **/__pycache__, **/node_modules, **/tests/**, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/conftest.py, **/migrations/**, **/scripts/**, **/__main__.py, **/setup.py, **/.next/**, **/dist/**, **/build/**, **/coverage/**, **/htmlcov/**, **/*.config.js, **/*.config.ts
  cli: any of: cli/, but not: **/__pycache__, **/node_modules, **/tests/**, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/conftest.py, **/migrations/**, **/scripts/**, **/__main__.py, **/setup.py, **/.next/**, **/dist/**, **/build/**, **/coverage/**, **/htmlcov/**, **/*.config.js, **/*.config.ts
  security: any of: services/, but not: **/__pycache__, **/node_modules, **/tests/**, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/conftest.py, **/migrations/**, **/scripts/**, **/__main__.py, **/setup.py, **/.next/**, **/dist/**, **/build/**, **/coverage/**, **/htmlcov/**, **/*.config.js, **/*.config.ts
