Repository fmillanjs/temponest: changes, and which Codecov flags are due for each by the changed paths.
All: backend_unit, backend_integration, frontend_unit, sdk, cli, security

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 85%           # Overall project target
        threshold: 1%         # Allow 1% decrease
        informational: false  # Fail if below target
        only_pulls: false

    patch:
      default:
        target: 100%          # New code must be 100% covered
        threshold: 0%         # No decrease allowed
        informational: false
        only_pulls: true

    # Individual component targets
    components:
      - component_id: auth_service
        name: "Auth Service"
        paths:
          - services/auth/app/**
        target: 95%
        threshold: 1%

      - component_id: agents_service
        name: "Agents Service"
        paths:
          - services/agents/app/**
        target: 90%
        threshold: 1%

      - component_id: scheduler_service
        name: "Scheduler Service"
        paths:
          - services/scheduler/**
        target: 85%
        threshold: 1%

      - component_id: approval_ui
        name: "Approval UI Service"
        paths:
          - services/approval_ui/**
        target: 85%
        threshold: 1%

      - component_id: ingestion_service
        name: "Ingestion Service"
        paths:
          - services/ingestion/**
        target: 85%
        threshold: 1%

      - component_id: temporal_workers
        name: "Temporal Workers"
        paths:
          - services/temporal_workers/**
        target: 80%
        threshold: 1%

      - component_id: console
        name: "Console Frontend"
        paths:
          - apps/console/**
        target: 75%
        threshold: 1%

      - component_id: web_ui
        name: "Web UI"
        paths:
          - web-ui/**
        target: 75%
        threshold: 1%

      - component_id: sdk
        name: "Python SDK"
        paths:
          - sdk/temponest_sdk/**
        target: 85%
        threshold: 1%

      - component_id: cli
        name: "CLI Tool"
        paths:
          - cli/cli.py
        target: 80%
        threshold: 1%

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false
  show_carryforward_flags: true

ignore:
  - "**/__pycache__"
  - "**/node_modules"
  - "**/tests/**"
  - "**/test_*.py"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/conftest.py"
  - "**/migrations/**"
  - "**/scripts/**"
  - "**/__main__.py"
  - "**/setup.py"
  - "**/.next/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/htmlcov/**"
  - "**/*.config.js"
  - "**/*.config.ts"

# Flags for different test types
flags:
  backend_unit:
    paths:
      - services/
    carryforward: true
    assume:
      branches:
        - main

  backend_integration:
    paths:
      - tests/integration/
    carryforward: true

  frontend_unit:
    paths:
      - apps/console/
      - web-ui/
    carryforward: true

  sdk:
    paths:
      - sdk/
    carryforward: true

  cli:
    paths:
      - cli/
    carryforward: true

  security:
    paths:
      - services/
    carryforward: true

# Ignore changes in these paths for coverage decrease
ignore_paths:
  - "docs/"
  - "scripts/"
  - "docker/"
  - ".github/"
  - "*.md"
  - "LICENSE"

# Pull request comments
pull_request_settings:
  annotations: true
  require_changes: true
  require_base: false
  require_head: true

feat: complete Phase 5.2 - Performance Testing with Locust
  docs/TESTING_ROADMAP.md
  tests/performance/reports/.gitkeep
  tests/performance/reports/PERFORMANCE_TEST_SUMMARY.md
  tests/performance/reports/quick_test.html
  tests/performance/requirements.txt
Due: none

test: improve financials page coverage from 48.31% to 97.53%
  apps/console/TESTING-ROADMAP.md
  apps/console/tests/app/financials/page.test.tsx
Due: frontend_unit

test: improve single wizard page coverage from 55.66% to 86.79%
  apps/console/TESTING-ROADMAP.md
  apps/console/tests/app/wizards/single/page.test.tsx
Due: frontend_unit

test: complete Phase 7.5 - Component Testing (KpiBar, QuickActions, RecentActivity, FactoryMap)
  apps/console/tests/components/FactoryMap.test.tsx
  apps/console/tests/components/KpiBar.test.tsx
  apps/console/tests/components/QuickActions.test.tsx
  apps/console/tests/components/RecentActivity.test.tsx
Due: none

docs: update TESTING-ROADMAP with Phase 7.5 completion
  apps/console/TESTING-ROADMAP.md
Due: frontend_unit

feat: add comprehensive E2E tests for Single-SaaS Wizard and Financial Calculator
  apps/console/e2e/critical-flows/financial-calculator.spec.ts
  apps/console/e2e/critical-flows/wizard-single-saas.spec.ts
Due: frontend_unit

feat: add comprehensive E2E tests for Dashboard and Factory Wizard
  apps/console/e2e/critical-flows/observability-dashboard.spec.ts
  apps/console/e2e/critical-flows/wizard-factory.spec.ts
Due: frontend_unit

docs: document Phase 3 E2E Testing completion in TESTING-ROADMAP
  apps/console/TESTING-ROADMAP.md
Due: frontend_unit

feat: add Phase 3.5 E2E tests for Settings, Project Detail, and Observability
  apps/console/e2e/critical-flows/observability.spec.ts
  apps/console/e2e/critical-flows/project-detail.spec.ts
  apps/console/e2e/critical-flows/settings.spec.ts
Due: frontend_unit

docs: document Phase 3.5 E2E Testing completion
  apps/console/TESTING-ROADMAP.md
Due: frontend_unit

feat: fix E2E test authentication and achieve 92.7% pass rate
  apps/console/.gitignore
  apps/console/TESTING-ROADMAP.md
  apps/console/e2e/auth.setup.ts
  apps/console/middleware.ts
  apps/console/playwright.config.ts
Due: frontend_unit

fix: resolve all E2E test failures for Single SaaS Wizard and Financial Calculator
  apps/console/e2e/critical-flows/financial-calculator.spec.ts
  apps/console/e2e/critical-flows/wizard-single-saas.spec.ts
Due: frontend_unit

docs: document Phase 9 completion - 100% E2E test pass rate achieved
  apps/console/TESTING-ROADMAP.md
Due: frontend_unit

fix: resolve Agents service ModuleNotFoundError in Docker
  docker/docker-compose.yml
  services/agents/Dockerfile
Due: backend_unit, security

fix: resolve AsyncClient event loop issues in integration tests
  tests/integration/conftest.py
  tests/integration/pytest.ini
Due: none

fix: correct API endpoints in integration tests
  tests/integration/test_auth_integration.py
Due: none

fix: enable authenticated integration tests with rate limit handling
  tests/integration/conftest.py
  tests/integration/test_auth_integration.py
Due: none

docs: update Phase 5.1 Integration Tests status to OPERATIONAL
  docs/TESTING_ROADMAP.md
Due: none

feat: improve integration test infrastructure with rate limiting and session fixtures
  tests/integration/conftest.py
  tests/integration/test_agent_scheduler.py
  tests/integration/test_auth_integration.py
Due: none

docs: update integration test status and document remaining work
  docs/TESTING_ROADMAP.md
Due: none

fix(integration-tests): update tests to use departments API architecture
  tests/integration/conftest.py
  tests/integration/test_agent_scheduler.py
  tests/integration/test_auth_integration.py
  tests/integration/test_full_workflow.py
  tests/integration/test_multi_tenant.py
Due: none

fix(integration-tests): add follow_redirects and fix scheduler API fields
  tests/integration/conftest.py
  tests/integration/test_agent_scheduler.py
  tests/integration/test_auth_integration.py
  tests/integration/test_full_workflow.py
Due: none

docs: update TESTING_ROADMAP.md with Phase 5.1 Option A completion status
  docs/TESTING_ROADMAP.md
Due: none

fix(scheduler): add JWT authentication middleware to fix 500 errors in integration tests
  services/scheduler/app/auth_client.py
  services/scheduler/app/auth_middleware.py
  services/scheduler/app/main.py
  services/scheduler/app/routers/schedules.py
  services/scheduler/app/settings.py
Due: backend_unit, security

docs: update TESTING_ROADMAP with Phase 5.1 scheduler auth fix results
  docs/TESTING_ROADMAP.md
Due: none

fix(integration-tests): resolve all 8 test failures - API contract alignment
  tests/integration/test_agent_scheduler.py
  tests/integration/test_full_workflow.py
  tests/integration/test_multi_tenant.py
Due: none

docs: update TESTING_ROADMAP with Phase 5.1 completion status
  docs/TESTING_ROADMAP.md
Due: none

docs: add comprehensive optimization assessment and roadmap
  OPTIMIZATION_ROADMAP.md
  OPTIMIZATION_SUMMARY.md
Due: none

Phase 1: Critical Security & Stability Fixes
  apps/console/.dockerignore
  docker/docker-compose.yml
  services/agents/.dockerignore
  services/agents/Dockerfile
  services/approval_ui/.dockerignore
  services/approval_ui/Dockerfile
  services/auth/.dockerignore
  services/auth/app/database.py
  services/ingestion/.dockerignore
  services/scheduler/.dockerignore
  services/scheduler/Dockerfile
  services/scheduler/app/db.py
  services/temporal_workers/.dockerignore
  web-ui/.dockerignore
  web-ui/app.py
Due: backend_unit, frontend_unit, security

Complete Phase 1.4: Add pagination to Project Details page
  apps/console/app/projects/[slug]/page.tsx
Due: frontend_unit

Phase 2.1: Create shared Redis client module
  services/agents/requirements.txt
  services/auth/requirements.txt
  services/scheduler/requirements.txt
  shared/__init__.py
  shared/redis/__init__.py
  shared/redis/client.py
  shared/requirements.txt
  shared/setup.py
Due: backend_unit, security

Phase 2.2: Implement JWT and Permissions Caching
  services/agents/app/auth_client.py
  services/agents/app/main.py
  services/agents/app/settings.py
  services/auth/app/handlers/jwt_handler.py
  services/auth/app/main.py
  services/auth/app/middleware/auth.py
Due: backend_unit, security

Phase 2.2: Implement RAG and Health Check Caching
  services/agents/app/main.py
  services/agents/app/memory/rag.py
  services/auth/app/main.py
Due: backend_unit, security

Phase 2.2 Complete: Docker Configuration for Redis Caching
  docker/docker-compose.yml
  services/agents/app/main.py
  services/auth/app/main.py
Due: backend_unit, security

docs: add OPTIMIZATION_PROGRESS tracking document
  OPTIMIZATION_PROGRESS.md
Due: none

removed github workflow we dont need them
  .github/workflows/tests.yml
Due: none

fix: implement Docker best practices for container reliability
  docker/docker-compose.yml
  services/ingestion/ingest.py
  services/temporal_workers/worker.py
Due: backend_unit, security

fix: correct healthcheck commands for Python containers
  docker/docker-compose.yml
Due: none

feat: Phase 2.3 Complete - Fix Blocking Operations & Enable Rate Limiting
  services/agents/app/limiter.py
  services/agents/app/main.py
  services/agents/requirements.txt
  services/auth/app/handlers/password.py
  services/auth/app/routers/auth.py
Due: backend_unit, security

docs: update OPTIMIZATION_PROGRESS with Phase 2 completion
  OPTIMIZATION_PROGRESS.md
Due: none
